<a href="https://colab.research.google.com/github/khanittha-phusopha/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions ($f(x)=y$)



```python
def function_name(input_x):
  # do something with input_x to get output_y
  return output_y
```

 $f_1(x)=x^2$ + $75$

In [ ]:
def function_f1(x):
  a = x**2
  y = a + 75
  return y

In [ ]:
function_f1(3)

84

In [ ]:
def function_f1(x): #บรรทัดที่ 2-4 เยื้องจากบรรทัดที่ 1 เพื่อบอกว่าอยู่ภายใต้คำสั่งบรรทัดที่ 1
  a = x**2
  y = a + 75
  return y

print('done!') #ตัวที่ไม่เขียนเยื้อง แสดงให้เห็นว่ามีความสำคัญเท่ากัน

done!

In [ ]:
function_f1(3)

84

function มีส่วนที่สำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชั้่น ชื่ออะไร def function_name() : (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input *Input* (ขาดไม่ได้)
3. ส่วนประมวลผล do_something with *Input* to get *Output* (ขาดไม่ได้)
4. ส่วน output return *Output* (ขาดไม่ได้)

##ตัวอย่าง function ที่มีส่วนประกอบครบ

In [ ]:
def function_f1(x):
  a = x**2
  y = a + 75
  return y

##ตัวอย่าง function ที่ไม่มี input

In [ ]:
def pi_v():
  y = 3.14159265359
  return y

In [ ]:
piv = pi_v()
circle_area_r2 = pi_v()*(2**2)
print(circle_area_r2)

12.56637061436

###function ไม่มี process ไม่ได้

In [ ]:
def function_a() : #function ไม่มี process

SyntaxError: ignored

###ตัวอย่าง function ที่ไม่มี output

In [ ]:
def print_name_id(name,id): #input สามารถมีได้หลายตัว
  print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [ ]:
print_name_id('Sirilak','623020451-3') #function ไม่มี output ไม่ต้อง return ใช้ print ได้

ชื่อ Sirilak รหัสประจำตัว 623020451-3

In [ ]:
a = print_name_id('Sirilak','623020451-3')

ชื่อ Sirilak รหัสประจำตัว 623020451-3

In [ ]:
a

In [ ]:
print('Sirilak',end='->')
print('623020451-3')

Sirilak->623020451-3

In [ ]:
print('Sirilak','623020451-3')

Sirilak 623020451-3

In [ ]:
print('Sirilak','623020451-3',sep=' & ')

Sirilak & 623020451-3

##input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function print_grade() มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น A

In [ ]:
def print_grade(name,id,grade = 'A'):
  print(f'รหัสประจำตัว {id} ชื่อ {name}')
  print(f'ได้เกรด {grade}')

In [ ]:
print_grade('ศิริลักษณ์ กัณหารัตน์','623020451-3')

รหัสประจำตัว 623020451-3 ชื่อ ศิริลักษณ์ กัณหารัตน์
ได้เกรด A

In [ ]:
print_grade('ศิริลักษณ์ กัณหารัตน์','623020451-3','B')

รหัสประจำตัว 623020451-3 ชื่อ ศิริลักษณ์ กัณหารัตน์
ได้เกรด B

In [ ]:
print_grade(id='623020451-3',name='ศิริลักษณ์ กัณหารัตน์',grade='A')
print(print_grade)

รหัสประจำตัว 623020451-3 ชื่อ ศิริลักษณ์ กัณหารัตน์
ได้เกรด A
<function print_grade at 0x7fde078403b0>

#Looping (for)



```python
for member in listEx:
  do_something()
```

In [ ]:
for member in [1,2,3,4,5,6]:
  print(member)

1
2
3
4
5
6

In [ ]:
def print_name(name):
  print(f'ฉันชื่อ {name}')

In [ ]:
for name in ['วัชราภรณ์','จุฑากาญจน์','ชลธิชา','ญาดา','กิตติคุณ']:
  N = name
  print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [ ]:
list_name_id_grade =[['ศิริลักษณ์','623020451-3','B'],
                     ['เขมอัปสร','623020731-7','A'],
                     ['ชนิกานต์','623020995-0','C']]

In [ ]:
for each in list_name_id_grade:
  name = each[0]
  id = each[1]
  grade = each[2]
  print_grade(name,id,grade)
  print('--------------')

รหัสประจำตัว 623020451-3 ชื่อ ศิริลักษณ์
ได้เกรด B
--------------
รหัสประจำตัว 623020731-7 ชื่อ เขมอัปสร
ได้เกรด A
--------------
รหัสประจำตัว 623020995-0 ชื่อ ชนิกานต์
ได้เกรด C
--------------

##ใช้ for loop เพิ่มสมาชิกใน lost

In [ ]:
list_name = [] #นิยาม
list_id = []
list_grade = []
for each in list_name_id_grade:
  list_name.append(each[0])
  list_id.append(each[1])
  list_grade.append(each[2])

In [ ]:
list_name

['ศิริลักษณ์', 'เขมอัปสร', 'ชนิกานต์']

##การวนลูปด้วย `range()`

In [ ]:
for i in range(50): # วน50ครั้ง
  print('งง', end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

###Loop ซ้อน Loop

In [ ]:
for mem1 in range(2,5): #[2,3,4]
  print(f'now mem1 = {mem1}')
  for mem2 in range(1,13): #[2,3,4,5,6,7,8,9,10,11,12]
    print(f'{mem1} x {mem2} = {mem1*mem2} ')
  print('end inner')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner

### Loop in Function

In [ ]:
def print_grade_loop(name,grade):
  for n,g in zip(name,grade):
    print(f'{n} ได้เกรด {g}')

In [ ]:
print_grade_loop(list_name,list_grade)

ศิริลักษณ์ ได้เกรด B
เขมอัปสร ได้เกรด A
ชนิกานต์ ได้เกรด C

#Conditional Statement (if)



```python
if condition1: #เช็ค condition1 ว่าเป้นจริงไหม
  do_something() ##ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
  do_another_thing() ##ถ้า condition1 ไม่เป็นจริง แต่ condition2 เป็นจริง ทำ do_another_thing()
else:
  do_the_last_thing() ##ถ้าไม่มี condition ไหนเป็นจริงเลย ทำ do_the_last_thing()
```

In [ ]:
for n in list_name:
  if len(n)>5:
    print(f'{n} ได้เกรด A')
  else :
    print(f'{n} ได้เกรด F')

ศิริลักษณ์ ได้เกรด A
เขมอัปสร ได้เกรด A
ชนิกานต์ ได้เกรด A

### operator ที่ใช้ตรวจสอบ condition
`== , != , >= , <= , < , > , and , or`

In [ ]:
a = 10 == 20 # 10มีค่าเท่ากับ 20 หรือไม่
print(a)

False

In [ ]:
b = 15 <= 20
print(b)

True

In [ ]:
if a:
  print('X')

In [ ]:
if True:
  print('X')

X

In [ ]:
if a and b:
  print('X')

In [ ]:
if a or b:
  print('X')

X

# HW4
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน (0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 7 5 แต่น้อยกว่า 80 จะได้เกรด B+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
* ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [ ]:
score = [1,50,65,90,101,-5,49,'ก',80]

In [ ]:
print(f'จากโจทย์ กำหนดให้ input = {score}')
print('______________________________________________________________')
for n in score:
    if type(n) == type(''):
            print (f'ข้อมูลเป็นอย่างอื่น คือ {n} นั่นคือ "ไม่สามารถตัดเกรดได้" ')
    else:
        if n > 100:
            print(f'คะแนนเกิน 100 คือ {n} นั่นคือ "ไม่สามารถตัดเกรดได้" ')
        elif n>=80:
            print(f'คะเเนน เท่ากับ {n} ได้เกรด "A" ')
        elif n>=75:
            print(f'คะเเนน เท่ากับ {n} ได้เกรด "B+" ')
        elif n>=70:
            print(f'คะเเนน เท่ากับ {n} ได้เกรด "B" ')
        elif n>=65:
            print(f'คะเเนน เท่ากับ {n} ได้เกรด "C+" ')
        elif n>=60:
            print(f'คะเเนน เท่ากับ {n} ได้เกรด "C" ')
        elif n>=55:
            print(f'คะเเนน เท่ากับ {n} ได้เกรด "D+" ')
        elif n>=50:
            print(f'คะเเนน เท่ากับ {n} ได้เกรด "D" ')
        elif n>=0:
            print(f'คะเเนน เท่ากับ {n} ได้เกรด "F" ')
        else:
            print(f'คะแนนต่ำกว่า 0 คือ {n} นั่นคือ "ไม่สามารถตัดเกรดได้" ')
    print('--------------------------------------')

จากโจทย์ กำหนดให้ input = [1, 50, 65, 90, 101, -5, 49, 'ก', 80]
______________________________________________________________
คะเเนน เท่ากับ 1 ได้เกรด "F"
--------------------------------------
คะเเนน เท่ากับ 50 ได้เกรด "D"
--------------------------------------
คะเเนน เท่ากับ 65 ได้เกรด "C+"
--------------------------------------
คะเเนน เท่ากับ 90 ได้เกรด "A"
--------------------------------------
คะแนนเกิน 100 คือ 101 นั่นคือ "ไม่สามารถตัดเกรดได้"
--------------------------------------
คะแนนต่ำกว่า 0 คือ -5 นั่นคือ "ไม่สามารถตัดเกรดได้"
--------------------------------------
คะเเนน เท่ากับ 49 ได้เกรด "F"
--------------------------------------
ข้อมูลเป็นอย่างอื่น คือ ก นั่นคือ "ไม่สามารถตัดเกรดได้"
--------------------------------------
คะเเนน เท่ากับ 80 ได้เกรด "A"
--------------------------------------